@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  max-width: 100vw;
  background-color: #14532d;
  max-height: 100vh;
}

main {
  height: 100vh;
  width: 100vw;
}

h1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.radio-custom {
  @apply w-4 h-4 border border-gray-500 rounded-full flex items-center justify-center cursor-pointer;
}

input:checked ~ .radio-custom::before {
  content: "";
  @apply w-2 h-2 bg-rose-500 rounded-full;
}

.hint {
  filter: brightness(0) invert(90%);
}

.hint:hover {
  filter: invert(100%) sepia(100%) saturate(1000%) hue-rotate(-45deg)
    brightness(90%);
}

@keyframes dealCard {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(var(--final-x), var(--final-y));
  }
}

@keyframes completedSuit {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(var(--finalSuit-x), var(--finalSuit-y));
  }
}

@keyframes stockCard {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(var(--finalStock-x), 0);
  }
}
