* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.ui-panel {
  position: absolute;
  top: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  z-index: 10;
  gap: 16px;
}

.control {
  display: flex;
  align-items: center;
  gap: 16px;
}

.control .sound-image {
  cursor: pointer;
  width: 32px;
  height: 32px;
  filter: invert(100%);
  transition: opacity 0.3s ease;
}

.control .play-image {
  cursor: pointer;
  width: 32px;
  height: 32px;
  transition: opacity 0.3s ease;
}

#pause {
  filter: invert(100%);
}

#play {
  filter: brightness(0) invert(1);
}

.hidden {
  display: none;
}
