* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

main {
  padding: 20px;
  height: 100vh;
  width: 100vw;
  max-width: 1000px;
  max-height: 800px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  fill: white;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.bottom {
  position: relative;
  margin-top: 40px;
}

.battery-svg {
  max-height: 260px;
  max-width: 200px;
}

.svg-container {
  margin-top: 20px;
  position: relative;
  width: 240px;
  height: 240px;
}

.speedometer-circle-svg {
  width: 100%;
  height: 100%;
}

.speedometer-arrow-svg {
  position: absolute;
  left: 0;
}

.text-container {
  position: absolute;
  left: 40%;
  bottom: 0;
}

.button-container {
  margin-top: 20px;
  display: flex;
}

button {
  background-color: gray;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
