* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

main {
  padding: 20px;
  height: 100vh;
  width: 100vw;
  max-width: 1000px;
  max-height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  max-height: 400px;
  max-width: 500px;
  fill: white;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.bottom {
  position: relative;
  margin-top: 40px;
}

.battery-svg {
  max-height: 260px;
  max-width: 200px;
}

.svg-container {
  margin-top: 20px;
  position: relative;
  width: 200px;
  height: 200px;
}

.speedometer-circle-svg {
  width: 100%;
  height: 100%;
}

.speedometer-arrow-svg {
  position: absolute;
  bottom: 40%;
  left: 0;
  width: 100%;
  height: 40%;
}

.text-container {
  position: absolute;
  left: 40%;
  bottom: 0;
}
